PORT=8080
READABILITY_SERVICE_URL=http://localhost:8081
GOTENBERG_URL=http://gotenberg:3000
EPUB_SERVICE_URL=http://epub-service:8082
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
SEAWEEDFS_INTERNAL_URL=http://seaweedfs:8333
SEAWEEDFS_PUBLIC_URL=http://localhost:8333
S3_BUCKET_NAME=readable
